<form
  class="monthPickerForm"
  [formGroup]="monthPickerForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field class="vertical-gap">
    <mat-label>Schedule month</mat-label>
    <mat-select
      formControlName="month"
      id="monthSelect"
      [appDisableControl]="isMonthSubmitted"
    >
      <mat-option *ngFor="let month of months" [value]="month.firstDay">
        {{ month.monthLabel }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    *ngIf="!isMonthSubmitted; else unsubmitMonth"
    class="vertical-gap"
  >
    Submit month
  </button>
</form>

<form [formGroup]="contractorForm">
  <mat-form-field class="contractorForm__field vertical-gap">
    <mat-label>Contractor name</mat-label>
    <input
      matInput
      placeholder="Contractor name"
      type="text"
      formControlName="contractorName"
      name="contractorName"
      id="contractorName"
    />
  </mat-form-field>
</form>

<ng-template #unsubmitMonth>
  <button type="button" mat-raised-button (click)="onUnsubmit()">
    Change month
  </button>
</ng-template>
