<form [formGroup]="settingsForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field class="settingsForm__field vertical-gap">
    <mat-label>Contractor name</mat-label>
    <input
      matInput
      placeholder="Contractor name"
      type="text"
      formControlName="contractorName"
      name="contractorName"
      id="contractorName"
    />
    <mat-error *ngIf="true">
      Contractor name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="vertical-gap">
    <mat-label>Schedule month</mat-label>
    <mat-select formControlName="selectedMonth" id="monthSelect">
      <mat-option *ngFor="let month of months" [value]="month.firstDay">
        {{ month.monthLabel }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    type="submit"
    *ngIf="settingsForm.enabled; else editSettings"
    mat-raised-button
    class="vertical-gap"
  >
    Submit
  </button>
</form>

<ng-template #editSettings>
  <button type="button" mat-raised-button (click)="onAllowEditing()">
    Edit settings
  </button>
</ng-template>
