.scheduleView {
  display: flex;
  flex-direction: column;
}

.scheduleTable {
  width: 100%;
  margin: 0;

  background-color: var(--surface-color);
  color: var(--on-surface-color);
  border-collapse: collapse;
  font-size: 1rem;
  text-align: center;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.scheduleTable__head,
.scheduleTable__foot {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.scheduleTable__head {
  font-size: 0.8rem;
}

.scheduleTable tr.nonWorkingDay {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
}

.scheduleTable td {
  border-bottom: 1px solid var(--primary-color);
}

.scheduleTable thead td,
.scheduleTable tfoot td {
  padding: 1rem 0.5rem;
}
.scheduleTable td.left {
  text-align: left;
}

.scheduleTable__input {
  background-color: transparent;
  text-align: right;
}

.scheduleTable__foot .scheduleTable__input {
  color: inherit;
  border: none;
}

.scheduleTable__input.ng-invalid {
  background-color: var(--error-color);
  color: var(--on-error-color);
  border: none;
}

.form-field--narow {
  width: 4rem;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  .scheduleTable td {
    padding: 0 0.5rem;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .scheduleView {
    flex-direction: row;
  }

  .scheduleTable {
    border: 1px solid var(--primary-color);
    width: calc(100% - 4rem);
    margin: 2rem;
  }

  .scheduleTable td {
    padding: 0 2rem;
  }

  .scheduleTable td:first-child {
    padding-left: 2rem;
  }
  .scheduleTable tbody td:last-child {
    padding-right: 2rem;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
