<div *ngIf="schedule">
  <form
    *ngIf="!printMode; else showPrint"
    [formGroup]="scheduleForm"
    (ngSubmit)="onPrint()"
  >
    <table class="scheduleTable">
      <thead class="scheduleTable__head">
        <tr>
          <td colspan="3">Day</td>
          <td>Hours</td>
        </tr>
      </thead>
      <tbody formArrayName="days">
        <tr
          *ngFor="let dayControl of getControls(); let i = index"
          [formGroupName]="i"
          [ngClass]="{
            disabledDay: dayControl.value.disabled === true,
            enabledDay: dayControl.value.disabled === false
          }"
        >
          <td>
            {{ dayControl.value.date }}
          </td>
          <td>
            {{ dayControl.value.weekday }}
          </td>
          <td>
            <select
              class="scheduleTable__input"
              formControlName="disabled"
              name="disabled"
              id="disabled"
            >
              <option [ngValue]="true">disabled</option>
              <option [ngValue]="false">enabled</option>
            </select>
          </td>
          <td>
            <input
              class="scheduleTable__input"
              type="number"
              formControlName="hours"
              min="0"
              max="24"
            />
          </td>
        </tr>
      </tbody>
      <tfoot class="scheduleTable__foot">
        <tr>
          <td colspan="3">Total hours</td>
          <td>
            <input
              class="scheduleTable__input"
              formControlName="totalHours"
              id="totalHours"
              type="text"
              maxlength="3"
              size="3"
            />
          </td>
        </tr>
      </tfoot>
    </table>

    <p class="form-invalid" *ngIf="!scheduleForm.valid">
      Correct highlighted cells. For each of days amount of hours has to be
      between 0 (empty cell is also ok) and 24.
    </p>
    <button [disabled]="!scheduleForm.valid">Export to printable PDF</button>
  </form>
  <ng-template #showPrint>
    <app-schedule-print
      *ngIf="printMode"
      [schedule]="schedule"
      [monthLabel]="getSelectedMonthLabel()"
      (closePrint)="onClosePrint()"
    ></app-schedule-print>
  </ng-template>
</div>
