.scheduleView {
  display: flex;
  flex-direction: column;
}

.scheduleTable {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  border-collapse: collapse;
  font-size: 1rem;
  margin: 2rem;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.scheduleTable__head,
.scheduleTable__foot {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.scheduleTable td {
  border-bottom: 1px solid var(--primary-color);
  padding: 1rem 1.5rem;
}
.scheduleTable td:first-child {
  padding-left: 3rem;
}
.scheduleTable td:last-child {
  padding-right: 3rem;
}

.scheduleTable__input {
  border: 1px solid;
  border-color: inherit;
  background-color: transparent;
  text-align: right;
}
.scheduleTable__input:not([disabled]) {
  /* background-color: #fff; */
}
.scheduleTable__input:not([disabled]):hover {
  background-color: var(--primary-dark-color);
  border-color: var(--on-primary-dark-color);
}

.scheduleTable__foot .scheduleTable__input {
  color: inherit;
  border: none;
}

tr.disabledDay {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
}

.scheduleTable__input.ng-invalid {
  background-color: var(--error-color);
  color: var(--on-error-color);
  border: none;
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .scheduleView {
    flex-direction: row;
    /* justify-content: center;
  align-items: flex-start; */
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
