<div *ngIf="schedule">
  <form
    *ngIf="!printMode; else showPrint"
    [formGroup]="scheduleForm"
    (ngSubmit)="onSubmit()"
  >
    <table>
      <tbody formArrayName="days">
        <tr
          *ngFor="let dayControl of getControls(); let i = index"
          [formGroupName]="i"
          [ngClass]="{
            disabledDay: dayControl.value.disabled === true,
            enabledDay: dayControl.value.disabled === false
          }"
        >
          <td>
            {{ dayControl.value.date }}
          </td>
          <td>
            {{ dayControl.value.weekday }}
          </td>
          <td>
            <select formControlName="disabled" name="disabled" id="disabled">
              <option [ngValue]="true">disabled</option>
              <option [ngValue]="false">enabled</option>
            </select>
          </td>
          <td>
            <input type="number" formControlName="hours" min="0" max="24" />
          </td>
        </tr>
      </tbody>
    </table>

    <label for="totalHours">Suma godzin: </label>
    <input formControlName="totalHours" id="totalHours" type="number" />

    <p>Suma godzin:</p>
    <button>Print schedule</button>
  </form>
  <ng-template #showPrint>
    <app-schedule-print
      *ngIf="printMode"
      [schedule]="schedule"
      [scheduleMonth]="selectedMonth"
      (closePrint)="onClosePrint()"
    ></app-schedule-print>
  </ng-template>
</div>
