:root {
  --primary-color: #8bc34a;
  --on-primary-color: #212121;
  --primary-light-color: #effcdd;
  --primary-dark-color: #599015;
  --on-primary-dark-color: #000000;

  --background-color: #f5f5f5;
  --on-background-color: #2b2b2b;

  --surface-color: #ffffff;
  --on-surface-color: #424242;

  --error-color: #b00020;
  --on-error-color: #ffffff;

  --success-color: #599015;
  --on-success-color: #ffffff;

  --warning-color: #ffcc00;
  --on-warning-color: var(--on-primary-color);
}
