<div class="topBar">
  <div class="topBar__item topBar__item--mobile-hidden">PDF preview</div>
  <button mat-raised-button class="topBar__item" (click)="generatePdf()">
    Download PDF
  </button>
  <div class="topBar__item--grow"></div>
  <button mat-button class="topBar__item" (click)="onClose()">
    Close
  </button>
</div>

<div class="wrapper">
  <div #contentToConvert id="contentToConvert">
    <app-schedule-print-render
      [schedule]="schedule"
      [monthLabel]="getSelectedMonthLabel()"
      [contractorNameLabel]="settings.contractorName"
      [totalHours]="countTotalHours()"
    ></app-schedule-print-render>
  </div>
</div>

<div class="preview">
  <div id="contentToConvert">
    <app-schedule-print-render
      [schedule]="schedule"
      [monthLabel]="getSelectedMonthLabel()"
      [contractorNameLabel]="settings.contractorName"
      [totalHours]="countTotalHours()"
    ></app-schedule-print-render>
  </div>
</div>
