<div id="contentToConvert">
  <p>Miesiąc: x 2019</p>
  <p>Jerzy Skowron</p>

  <table>
    <thead>
      <tr>
        <th>Dzień</th>
        <th>Liczba godzin</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let day of schedule"
        [ngClass]="{ disabled: day.disabled === true }"
      >
        <td>{{ day.date }}</td>
        <td>
          {{ day.hours }}
        </td>
      </tr>
    </tbody>
  </table>

  <p>Podpis zleceniobiorcy:</p>
</div>
<button (click)="onClose()">Close</button>
<button (click)="generatePdf()">Pobierz PDF</button>
