.wrapper {
  width: 0;
  height: 0;
  overflow: hidden;
}

.preview {
  transform-origin: top left;
  transform: scale(0.35);
  position: absolute;
}

#contentToConvert {
  border: 1px solid red;
  font-size: 3em;
  width: calc(2480px * 0.7);
  height: calc(3508px * 0.7);
  padding: 100px;
}

p {
  text-align: center;
}

p.sign {
  text-align: right;
  margin-right: 3em;
  margin-bottom: 200px;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  border: 5px solid black;
}

td,
th {
  border: 2px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

tr.disabled {
  background-color: #bbbbbb;
}

tfoot {
  background-color: black;
  color: white;
}
