:host {
  width: 100%;
}
.topBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--primary-color);
}

.topBar__item {
  margin: 1rem;
  flex-shrink: 1;
}

.topBar__item--grow {
  flex-grow: 1;
}

.topBar__item--mobile-hidden {
  display: none;
}

.wrapper {
  /*
    hiding element which is source to generate PDF
    it's to big to be displayed on screen
  */
  width: 0;
  height: 0;
  overflow: hidden;
}

.preview {
  /* scale down to get PDF preview */
  margin: 1rem;
  transform-origin: top left;
  transform: scale(0.1);
  position: absolute;
  background-color: #ffffff;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 15px 5px,
    rgba(0, 0, 0, 0.12) 0px 0px 2px;
}

#contentToConvert {
  /* content is scaled up to get good print resolution
    html2canvas renders only 72DPI
    forced to have A4 page ratio
  */
  width: 2480px;
  height: 3508px;
  font-size: 45px;
  padding: 200px; /* PDF page margin */
  font-family: Arial, Helvetica, sans-serif; /* use safe font to render similar PDF */
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .preview {
    /* scale down to get PDF preview */
    transform: scale(0.115);
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .preview {
    /* scale down to get PDF preview */
    transform: scale(0.18);
  }

  .topBar__item--mobile-hidden {
    display: block;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .preview {
    /* scale down to get PDF preview */
    transform: scale(0.25);
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .preview {
    /* scale down to get PDF preview */
    transform: scale(0.37);
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
