.disabled {
  color: red;
}

td,
th {
  border: 1px solid black;
}

#contentToConvert {
  border: 1px solid red;
  font-size: 3em;
}

#contentToConvert p {
  text-align: center;
}
#contentToConvert table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
