<div class="summary" [ngClass]="{ isError: isErrorStatus() }">
  <mat-toolbar
    *ngIf="isMobileFullScreen"
    class="summary__toolbar--only-mobile-fullscreen"
  >
    <mat-toolbar-row class="summary__toolbar__row">
      <span>Schedule settings</span>
      <button
        mat-icon-button
        color="primary"
        (click)="onOpenMobileFullScreen(false)"
        aria-label="Save and close settings"
      >
        <mat-icon>check</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="summary__errors">
    <p class="error-message" *ngIf="!areAllDaysControlsValid">
      Correct highlighted cells. For each of days amount of hours has to be
      between 0 (empty cell or "-"" is also ok) and 24.
    </p>
    <!-- showing error if expected total hours different than scheduled (based on summaryForm and its validation) -->
    <p class="error-message" *ngIf="!summaryForm.valid">
      <!-- for mobile resolution show shorter error message -->
      <span class="hideOnMobile">
        {{ summaryForm.errors?.error.msgVerbose }}:
      </span>
      <span class="showOnlyMobile"> {{ summaryForm.errors?.error.msg }}:</span>
      <span class="fixed-field">
        {{ summaryForm.errors?.error.differenceAmount }}
      </span>
    </p>
  </div>

  <div class="summary__info">
    <div class="flex-row">
      <button
        *ngIf="!isMobileFullScreen"
        class="mobile-fullscreen-btn"
        mat-icon-button
        (click)="onOpenMobileFullScreen(true)"
        color="primary"
        aria-label="Open schedule settings"
      >
        <mat-icon>alarm</mat-icon>
      </button>

      <p>
        Total hours:
        <span class="highlight fixed-field">{{ totalHours }} </span>
        <span
          *ngIf="isTotalHoursEnabled()"
          class="highlight totalHoursDifference fixed-field"
          [ngClass]="
            totalHours - summaryForm.get('totalHoursDefined').value === 0
              ? 'totalHoursDifference--ok-value'
              : 'totalHoursDifference--error-value'
          "
          >({{ totalHours - summaryForm.get('totalHoursDefined').value }})</span
        >
      </p>

      <!-- span with tooltip to show error if expected and current amount of hours doesn't match -->
      <span
        matTooltipClass="mat-tooltip-error"
        [matTooltip]="summaryForm.errors?.error.msg"
        [matTooltipDisabled]="summaryForm.valid"
      >
        <button
          type="submit"
          form="summaryForm"
          class="btn-v-stretched"
          mat-raised-button
          color="primary"
          aria-label="Generate PDF with Schedule"
          [disabled]="!summaryForm.valid"
        >
          <!-- On mobile show shorter button laber -->
          <span class="hideOnMobile">Generate</span>
          PDF
        </button>
      </span>
    </div>

    <!-- show only when .mobileFullScreen or not mobile view -->
    <form
      class="summary__form"
      [formGroup]="summaryForm"
      id="summaryForm"
      (ngSubmit)="onGeneratePdf()"
    >
      <!-- input needed to validate if expected (defined) total hours match already scheduled (current) -->
      <input formControlName="totalHoursCurrent" type="hidden" />

      <mat-checkbox formControlName="isTotalHoursDefined">
        <!-- checkbox to turn on/off defined (expected) amount of hours-->
      </mat-checkbox>
      Defined total hours:
      <mat-form-field class="hoursInput">
        <input
          matInput
          formControlName="totalHoursDefined"
          type="number"
          min="1"
          max="31*24"
          step="0.5"
          [appDisableControl]="!isTotalHoursEnabled()"
        />
      </mat-form-field>
    </form>
  </div>
</div>
