<div class="summary" [ngClass]="{ isError: isErrorStatus() }">
  <mat-toolbar
    *ngIf="isMobileFullScreen"
    class="summary__toolbar--only-mobile-fullscreen"
  >
    <mat-toolbar-row class="summary__toolbar__row">
      <span>Schedule settings</span>
      <button
        mat-icon-button
        color="primary"
        (click)="onOpenMobileFullScreen(false)"
        aria-label="Close settings"
      >
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="summary__errors">
    <p class="error-message" *ngIf="!areAllDaysControlsValid">
      Correct highlighted cells. For each of days amount of hours has to be
      between 0 (empty cell or "-"" is also ok) and 24.
    </p>
  </div>

  <div class="summary__info">
    <button
      *ngIf="!isMobileFullScreen"
      class="mobile-fullscreen-btn"
      mat-icon-button
      (click)="onOpenMobileFullScreen(true)"
      color="primary"
      aria-label="Open settings"
    >
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

    <form [formGroup]="summaryForm" (ngSubmit)="onGeneratePdf()">
      <p>
        Total hours: <span class="highlight">{{ totalHours }}</span>
      </p>

      <mat-checkbox formControlName="isTotalHoursDefined"></mat-checkbox>
      Defined total hours:
      <mat-form-field class="hoursInput">
        <input
          matInput
          formControlName="totalHoursDefined"
          type="number"
          min="1"
          max="31*24"
          step="0.5"
          [appDisableControl]="!summaryForm.get('isTotalHoursDefined').value"
        />
      </mat-form-field>

      <button
        type="submit"
        class="btn-v-stretched"
        mat-raised-button
        [disabled]="!areAllDaysControlsValid"
        color="primary"
      >
        Generate PDF
      </button>
    </form>
  </div>
</div>
