:host {
  flex-grow: 1;
  position: sticky;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

:host.mobileFullScreen {
  position: fixed;
  width: 100vw;
  height: 80vh;
}

.summary {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 15px 5px,
    rgba(0, 0, 0, 0.12) 0px 0px 2px;
  border-radius: 5px 5px 0 0;
  position: relative;
  height: calc(100% - 0.5rem);
  width: calc(100% - 1rem);
}

.summary__info {
  padding: 0.75rem;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.isError .summary__info {
  display: none;
}

.summary__info p {
  margin: 1rem 0;
}

.summary__errors p {
  margin: 0;
}

.summary__toolbar--only-mobile-fullscreen {
  display: none;
}

:host.mobileFullScreen .summary__toolbar--only-mobile-fullscreen {
  display: block;
  border-radius: inherit;
}

.summary__toolbar__row {
  display: flex;
  justify-content: space-between;
}

.summary__form {
  /* form for mobile view & not .mobileFullScreen */
  display: none;
}

:host.mobileFullScreen .summary__form {
  /* form for mobile view with .mobileFullScreen */
  display: block;
}

.highlight {
  font-weight: bold;
}

/* styles for difference in total hour between expected and scheduled */
.totalHoursDifference--ok-value {
  color: var(--success-color);
}
.totalHoursDifference--error-value {
  color: var(--error-color);
}

.error-message {
  background-color: var(--error-color);
  color: var(--on-error-color);
  padding: 1rem;
}

.btn-v-stretched {
  align-self: stretch;
}

.hoursInput {
  width: 3em;
}

mat-icon {
  transform: scale(2);
}

::ng-deep .mat-tooltip-error {
  background-color: var(--error-color);
  color: var(--on-error-color);
  font-size: 1rem;
}

.hideOnMobile {
  display: none;
}

.showOnlyMobile {
  display: initial;
}

@media (min-width: 481px) {
  .hideOnMobile {
    display: initial;
  }

  .showOnlyMobile {
    display: none;
  }
}

@media (min-width: 641px) {
  /* general layout in columns */
  :host {
    width: inherit;
    align-self: flex-start;
    justify-content: flex-end;
    position: sticky;
    top: -2rem;
    right: 0;
    bottom: auto;
  }

  :host.mobileFullScreen {
    /* disable fullscreen if not mobile resolution */
    position: inherit;
    width: inherit;
    height: inherit;
  }

  .summary {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px,
      rgba(0, 0, 0, 0.12) -1px 3px 9px;
    border-radius: 5px 0 0 5px;
    margin-top: 2rem;
  }

  .summary__form {
    /* form displayed for non-mobile resolution */
    display: block;
  }

  .isError .summary__info {
    display: flex;
  }

  .mobile-fullscreen-btn {
    display: none;
  }
}
