:host {
  flex-grow: 1;
  position: sticky;
  bottom: 0;
}

.summary {
  background-color: white;
  /* padding: 1em; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 15px 5px,
    rgba(0, 0, 0, 0.12) 0px 0px 2px;
  position: relative;
}

.summary__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.75rem;
}

.isError .summary__info {
  display: none;
}

.summary__info p {
  margin: 1rem 0;
}

.summary__errors {
  /* position: absolute; */
  top: 0;
  width: 100%;
  height: 100%;
}

.summary__errors p {
  margin: 0;
}

.highlight {
  font-weight: bold;
}

.error-message {
  background-color: var(--error-color);
  color: var(--on-error-color);
  padding: 1rem;
}

@media (min-width: 481px) {
}

@media (min-width: 641px) {
  /* general layout in columns */
  :host {
    width: inherit;
    align-self: flex-start;
    position: sticky;
    top: -2rem;
    right: 0;
    bottom: auto;
  }

  .summary {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px,
      rgba(0, 0, 0, 0.12) -1px 3px 9px;
    border-radius: 5px 0 0 5px;
    margin-top: 2rem;
  }
}
